<div class="container mt-5 overflow-hidden">
    <div class="hstack gap-2 mb-2">
        <i class="fa-solid fa-arrow-left footer-icon"></i>
        <a class="standard-font secondary-text-color anchor-link" href="/">
            Return to projects
        </a>
    </div>
    <h5 class="fw-normal">Project details<span class="secondary-text-color">:</span></h5>
</div>
