<div class="container mt-5 overflow-hidden">
    <h5 class="text-center fw-normal">Selected projects<span class="secondary-text-color">:</span></h5>
    <div class="row my-4 gx-3 gy-3">
        <div class="col-md-4">
            <div class="gth-project-container p-2">
                1123
            </div>
        </div>
        <div class="col-md-4">
            <div class="gth-project-container p-2">
                1123
            </div>
        </div>
        <div class="col-md-4">
            <div class="gth-project-container p-2">
                1123
            </div>
        </div>
        <div class="col-md-4">
            <div class="gth-project-container p-2">
                1123
            </div>
        </div>
        <div class="col-md-4">
            <div class="gth-project-container p-2">
                1123
            </div>
        </div>
        <div class="col-md-4">
            <div class="gth-project-container p-2">
                1123
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <p class="text-container text-center">
            Other projects you could find on my
            <a class="standard-font primary-text-color anchor-link" href="<%= personalData.githubAccountLink %>"
                target="_blank">Github account</a>.
        </p>
    </div>
</div>
