<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    <title>Revoked password</title>
  </head>
  <body>
    <b>Hello {{userLogin}}!</b>
    <br />
    <br />
    Password for your account was revoked. To login go to
    <a href="{{loginLink}}">this page</a>.
    <br />
    <br />
    New password: <b>{{revokedPassword}}</b>
    <br />
    <br />
    <hr />
    <i>Message generated automatically. Please do not respond.</i>
    <br />
    <i>&copy; {{currentYear}} by Milosz Gilga CMS system.</i>
  </body>
</html>
