<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Renew password.</title>
</head>
<body>
    <b>Hello {{userLogin}}!</b>
    <br>
    <br>
    To reset your password, press on <a href="{{linkWithToken}}">this link</a>.
    <hr>
    <i>
        Activation link will be valid for 10 minutes. After this time you must generate new link.<br>
        Too generate new link, press <a href="{{regenerateToken}}">here</a>
    </i>
    <hr>
    <i>Message generated automatically. Please not respond.</i>
    <br>
    <i>&copy; {{currentYear}} by Milosz Gilga CMS system.</i>
</body>
</html>

