---
import Projects from '@/components/Projects.astro';
import { getLangFromUrl, useTranslations } from '@/i18n';
import MainLayout from '@/layouts/MainLayout.astro';
import { fabricateMdxI18nStaticPaths } from '@/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  return fabricateMdxI18nStaticPaths('projects');
}

const page = Astro.props;
const { Content } = await page.render();
---

<MainLayout frontmatter={{ header: t('projects.header') }}>
  <Content />
  <h2>{t('projects.impl')}</h2>
  <Projects lang={lang} type="impl" />
  <h2>{t('projects.rd')}</h2>
  <Projects lang={lang} type="rd" />
  <h2>{t('projects.part')}</h2>
  <Projects lang={lang} type="part" />
</MainLayout>
