.gallery__container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
	grid-template-rows: 100px;
	gap: 0.5rem;
}

.gallery__image {
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
	overflow: hidden;
	border-radius: 0.5rem;
	transition: 0.2s transform;
}

.gallery__image-link {
	width: 100%;
	height: 100px;
	overflow: hidden;
	border-radius: 0.5rem;
}

.gallery__image-link:hover .gallery__image {
	transform: scale(1.1);
}

.gallery__preview-container {
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 50;
	padding: 30px 0;
	background-color: rgba(0, 0, 0, 0.8);
}

.gallery__preview-container:target {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gallery__preview-image {
	width: 100%;
	max-height: 100%;
	height: auto;
	object-position: center;
	object-fit: contain;
}

.gallery__preview-image-container {
	max-width: 95%;
	margin: auto 0;
	max-height: calc(100vh - 130px * 2);
}

.gallery__preview-navigation {
	display: flex;
	justify-content: space-between;
	width: 100%;
	visibility: visible;
	margin: 5px 0;
}

.gallery__preview-navigation-link {
	display: inline-block;
	color: var(--main-text);
}

.gallery__preview-navigation-link::after {
	display: none;
}

.gallery__preview-navigation-link--visible-off {
	visibility: hidden;
}

.gallery__preview-navigation--end {
	justify-content: flex-end;
}
