@font-face {
	font-family: 'Portfolio Serif';
	src: url('../font/deja-vu-serif.ttf') format('truetype');
	font-style: normal;
}

:root {
	--main-bg: #000000;
	--main-text: #ffffff;
	--main-text-tint: #d7d7d7;
	--main-tint: #171717;
	--main-link: #c68659;

	--safety-width: 1024px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 17px;
	font-weight: 400;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--main-tint);
	font-family: 'Portfolio Serif', 'DejaVu Serif', serif;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.8rem;
	margin: 25px 0 15px;
	font-weight: 500;
}

p,
a,
li {
	font-size: inherit;
	width: fit-content;
	line-height: 1.4;
	color: var(--main-text-tint);
}

p {
	margin: 20px 0;
	color: var(--main-text-tint);
}

a {
	color: var(--main-link);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

ul {
	margin-left: 40px;
}

strong {
	font-weight: 600;
}

.header__container {
	background: var(--main-tint);
	color: var(--main-text);
}

.header__wrapper {
	margin: 0 auto;
	max-width: var(--safety-width);
	padding: 80px 20px 30px;
	position: relative;
}

.header__lang {
	text-transform: uppercase;
	color: var(--main-text);
	margin: 0;
}

.header__lang-container {
	position: absolute;
	display: flex;
	top: 15px;
	margin-right: 15px;
	right: 0;
}

.header__lang-image {
	border: 1px solid var(--main-tint);
}

.main__container {
	flex-grow: 1;
	background-color: var(--main-bg);
	color: var(--main-text);
}

.main__wrapper {
	margin: 30px auto 80px;
	max-width: var(--safety-width);
	padding: 0 20px;
}

.footer__container {
	background: var(--main-tint);
	color: var(--main-text);
}

.footer__wrapper {
	margin: 0 auto;
	max-width: var(--safety-width);
	padding: 30px 20px;
}

.footer__paragraph {
	width: 100%;
	text-align: center;
	font-weight: 300;
	margin: 10px 0;
}

.footer__icon {
	position: relative;
	top: -1px;
	margin: 0 3px;
	font-size: .8rem;
}
