:root {
	--main-bg: #111111;
	--main-text: #ffffff;
	--main-text-tint: #d1d5dc;
	--separator: #364153;
	--safety-width: 926px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: 400;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--main-bg);
	color: var(--main-text-tint);
	font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1,
h2 {
	font-weight: 700;
}

h1 {
	font-size: 2.1rem;
}

h2 {
	font-size: 1.5rem;
	margin: 45px 0 15px;
}

h1,
h2,
a,
strong {
	color: var(--main-text);
}

a,
strong {
	font-weight: 600;
}

p,
a,
li,
strong {
	width: fit-content;
	font-size: inherit;
	line-height: 1.75;
}

p {
	margin: 15px 0;
}

a {
	text-decoration: underline;
}

a:not(:has(img))::after {
	content: '';
	display: inline-block;
	width: 0.8em;
	height: 0.8em;
	margin-left: 0.1em;
	background-image: url('../icons/external-link.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

a.a--disabled-arrow::after {
	display: none;
}

hr {
	border-width: 0;
	width: calc(var(--safety-width) - 40px);
	margin: 0 auto;
	height: 1px;
	background-color: var(--separator);
}

ul {
	margin-left: 30px;
}

.header__container {
	margin: 0 auto;
	max-width: var(--safety-width);
	padding: 120px 20px 0;
	position: relative;
}

.header__hero-image {
	width: 100%;
	margin-bottom: 20px;
	border-radius: 1rem;
}

.header__lang-container {
	position: absolute;
	display: flex;
	top: 70px;
	margin-right: 20px;
	right: 0;
}

.main__container {
	flex-grow: 1;
}

.main__wrapper {
	margin: 20px auto 80px;
	max-width: var(--safety-width);
	padding: 0 20px;
}

.footer__container {
	margin-top: 60px;
	margin-bottom: 80px;
}

.footer__wrapper {
	margin: 0 auto;
	max-width: var(--safety-width);
	padding: 30px 20px;
	font-size: .8rem;
}

.footer__paragraph {
	width: 100%;
	text-align: center;
	margin: 4px 0;
}

.footer__icon {
	position: relative;
	top: -1px;
	margin: 0 3px;
	font-size: .8rem;
}
