---
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout frontmatter={{ title: '404', header: 'inż. Miłosz Gilga' }}>
  <div class="not-found__container">
    <h1>404</h1>
    <a
      href="/"
      class="not-found__link"
    >
      Home
    </a>
  </div>
</MainLayout>

<style lang="scss">
  .not-found {
    &__container {
      margin-top: 20px;
      text-align: center;
    }
    &__link {
      margin: 10px auto 0;
    }
  }
</style>
