---
/*
 * Copyright (c) 2024 by MILOSZ GILGA <https://miloszgilga.pl>
 * For check application license, check LICENSE file.
 */
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Miłosz Gilga</title>
    <script>
      //window.location.href = 'https://github.com/Milosz08';
    </script>
  </head>
  <body>Astro</body>
</html>
