<% if (pageAlert) { %>
<div class="alert <%= pageAlert.type %> alert-dismissible fade show" role="alert">
  <%- pageAlert.message %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>
