---
const year = new Date().getFullYear();
---

<footer class="footer__container">
  <div class="footer__wrapper">
    <p class="footer__paragraph">&copy; {year} by Miłosz Gilga</p>
  </div>
</footer>

<style lang="scss">
  .footer {
    &__container {
      background: var(--main-tint);
      color: var(--main-text);
    }
    &__wrapper {
      margin: 0 auto;
      max-width: var(--safety-width);
      padding: 30px 20px;
    }
    &__paragraph {
      width: 100%;
      text-align: center;
    }
  }
</style>
