---
const year = new Date().getFullYear();
---

<footer class="footer__container">
  <div class="footer__wrapper">
    <p class="footer__paragraph">&copy; {year} by Miłosz Gilga</p>
    <p class="footer__paragraph">
      Created with
      <a class="footer__link" href="https://astro.build" target="_blank">
        Astro SSG
      </a>
    </p>
  </div>
</footer>

<style lang="scss">
  .footer {
    &__container {
      background: var(--main-tint);
      color: var(--main-dark);
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      max-width: var(--safety-width);
      padding: 30px 20px;
    }
    &__paragraph {
      font-size: 0.9rem;
      font-weight: 300;
    }
    &__link {
      display: inline;
    }
  }

  @media only screen and (max-width: 768px) {
    .footer {
      &__wrapper {
        flex-direction: column;
      }
      &__paragraph {
        text-align: center;
      }
    }
  }
</style>
