---
import {
  AVAILABLE_LANGS,
  getLangFromUrl,
  isLang,
  toggleLangHref,
  useTranslations,
} from '@/i18n';

type TProps = {
  header: string;
};

const { header } = Astro.props as TProps;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const isShowable = AVAILABLE_LANGS.every(
  (lang) => !isLang(Astro.url.pathname, lang),
);
---

<header class="header__container">
  <div class="header__wrapper">
    <h1>{header}</h1>
    <div class="header__lang-container">
      {
        AVAILABLE_LANGS.map(
          (lang) =>
            !isShowable &&
            !isLang(Astro.url.pathname, lang) && (
              <a
                class="header__lang"
                title={t('header.translate')}
                href={toggleLangHref(Astro.url.pathname, lang)}
              >
                <img
                  src={`/lang/${lang}.svg`}
                  alt=""
                  width="25px"
                  class="header__lang-image"
                />
              </a>
            ),
        )
      }
    </div>
  </div>
</header>

<style lang="scss">
  .header {
    &__container {
      background: var(--main-tint);
      color: var(--main-dark);
    }
    &__wrapper {
      margin: 0 auto;
      max-width: var(--safety-width);
      padding: 30px 20px;
      padding: 80px 20px 30px;
      position: relative;
    }
    &__lang {
      text-transform: uppercase;
      color: var(--main-dark);
      margin: 0;
      &-container {
        position: absolute;
        display: flex;
        top: 15px;
        margin-right: 15px;
        right: 0;
      }
      &-image {
        border: 1px solid var(--main-dark);
      }
    }
  }
</style>
