---
import Projects from '@/components/Projects.astro';
import { AVAILABLE_LANGS } from '@/i18n';
import { getLangFromUrl, useTranslations } from '@/i18n';
import MainLayout from '@/layouts/MainLayout.astro';
import { getEntry } from 'astro:content';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  return await Promise.all(
    AVAILABLE_LANGS.map(async (lang) => {
      const aboutMdx = await getEntry('misc', `${lang}/about`);
      return {
        params: { lang },
        props: aboutMdx,
      };
    })
  );
}

const page = Astro.props;
const { Content } = await page.render();
---

<MainLayout frontmatter={{ header: 'inż. Miłosz Gilga' }}>
  <Content />
  <h2>{t('about.projects.impl')}</h2>
  <Projects
    lang={lang}
    type="impl"
  />
  <h2>{t('about.projects.rd')}</h2>
  <Projects
    lang={lang}
    type="rd"
  />
  <h2>{t('about.projects.part')}</h2>
  <Projects
    lang={lang}
    type="part"
  />
</MainLayout>
