<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Miłosz Gilga</title>
    <%- include('../partials/_head-includes.partial.ejs') %>
</head>
<body>
    <%- body %>
    <%- include('../partials/_scripts-includes.partial.ejs') %>
</body>
</html>
