<div class="fixed-container">
    <%- include("../partials/session-alert.partial.ejs") %>
    <%- include("../partials/general-error-alert.partial.ejs") %>

    <div class="card">
        <form method="post" class="card-body p-4 mb-0">
            <h5 class="card-title mb-4">CMS Login form</h5>
            <div class="mb-3">
                <label for="loginOrEmail" class="form-label">Login or email:</label>
                <input id="loginOrEmail" type="text" class="form-control" name="loginOrEmail" value="<%= form.loginOrEmail %>">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <div class="input-group" data-pwd-container data-pwd-input-id="password" data-pwd-toggle-id="pwd-icon">
                    <input id="password" type="password" class="form-control" name="password">
                    <span id="pwd-icon" class="input-group-text" role="button">
                        <i class="bi bi-eye-fill"></i>
                    </span>
                </div>
            </div>
            <button class="btn btn-primary w-100" type="submit">
                Log in
            </button>
            <hr/>
            <div class="text-center">
                <a href="/request-change-password">Forgot password</a>
            </div>
        </form>
    </div>
</div>

<%- contentFor('additional-scripts') %>
<script src="/assets/js/toggle-password.js"></script>
