<div class="fixed-container">
  <%- include("../partials/session-alert.partial.ejs") %>
  <%- include("../partials/general-error-alert.partial.ejs") %>

  <div class="card">
    <form method="post" class="card-body p-4 mb-0">
      <h5 class="card-title mb-4">Request for change password</h5>
      <div class="mb-3">
        <label for="loginOrEmail" class="form-label">Login or email:</label>
        <input id="loginOrEmail" type="text" class="form-control" name="loginOrEmail" value="<%= form.loginOrEmail %>">
      </div>
      <button class="btn btn-primary w-100" type="submit">
        Send request for change password
      </button>
    </form>
  </div>
</div>
