name: Build, generate and deploy

on:
  push:
    branches:
      - "master"
    paths:
      - ".github/workflows/build.yml"
      - "gradle/**"
      - "src/**"
      - "build.gradle"
      - "settings.gradle"

jobs:
  build-generate-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: Clean build dir
        run: ./gradlew clean --no-daemon

      - name: Package to JAR (with dependencies)
        run: ./gradlew shadowJar --no-daemon

      - name: Generate static content
        run: java -jar build/libs/ssg.jar -d https://miloszgilga.pl -a

      - name: Setup Node for Vercel CLI
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "yarn"

      - name: Deploy to Vercel
        run: npx vercel deploy output --prod --token ${{ secrets.VERCEL_TOKEN }} \
          --name ${{ secrets.VERCEL_SITE_NAME }} --confirm
